@import "_colors.scss";
@import "_fonts.scss";
@import "_mixins.scss";

@include reset();

html {
    height: 100%;
}

body {
    @include flexbox-c2;
    height: 100%;
    background: map-get($colors, lightblack);

    ::selection {
        color: map-get($colors, lightblack);
        background: rgba(map-get($colors, yellow), 0.75);
    }
}

.app {
    @include flexbox-c2;
    @include flexbox() {
        align-items: flex-end;
        justify-content: space-evenly;
    }
    width: 75%;

    &__controllers {
        height: 20rem;
        @include flexbox() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &--manipulators {
            height: 100%;
            @include flexbox() {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
        }

        &--actions {
            height: 100%;
            @include flexbox() {
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }

    &__label,
    &__input {
        display: block;
    }

    &__label {
        text-transform: uppercase;
        font-weight: 700;
    }

    &__input {
        height: 20rem;
        width: 20rem;
        padding: 1rem;
        font-weight: 300;
        resize: none;
    }
}

.btn {
    width: 8rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    color: map-get($colors, yellow);
    background: map-get($colors, lightblack);
    border: {
        width: 1px;
        style: solid;
        color: map-get($colors, yellow);
        radius: 0.5rem;
    }
    cursor: pointer;

    &:hover,
    &:active {
        color: map-get($colors, lightblack);
        background: map-get($colors, yellow);
    }

    &--clear {
        color: map-get($colors, red);
        border-color: map-get($colors, red);

        &:hover,
        &:active {
            background: map-get($colors, red);
        }
    }

    &--copy {
        color: map-get($colors, green);
        border-color: map-get($colors, green);

        &:hover,
        &:active {
            background: map-get($colors, green);
        }
    }
}
