doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title txtmnpltr
        link(rel="stylesheet", href="css/main.css")
    body
        .app
            .app__textIO
                label.app__label Input
                    textarea.app__input
            .app__controllers
                button.btn(type="submit") reverse
                button.btn(type="submit") kripkerize
                button.btn(type="submit") margonize
                button.btn(type="submit") numeronymize
            .app__textIO
                label.app__label Output
                    textarea.app__input