doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title txtmnpltr
        link(rel="stylesheet", href="css/main.css")
        script(src="js/app.js" defer)
    body
        .app
            .app__textInput
                label.app__label Input
                    textarea.app__input
            .app__controllers
                .app__controllers--manipulators
                    button.btn#reverse reverse
                    button.btn#kripkerize kripkerize
                        span.btn__tooltip
                            | One click:
                            br
                            | rhotacism (r => w)
                            br
                            br
                            | Double click:
                            br
                            | labdacism (l => w)
                    button.btn#margonize margonize
                        span.btn__tooltip rANdom cApITalIzATioN
                    button.btn#devowelize devowelize
                        span.btn__tooltip remove all vowels = rmv ll vwls
                    button.btn#numeronymize numeronymize
                        span.btn__tooltip accessibility = a11y
                .app__controllers--actions
                    button.btn.btn--clear clear
                    button.btn.btn--copy copy
            .app__textOutput
                label.app__label Output
                    textarea.app__input